{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">داشبورد مدیریت</h2>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="card bg-primary text-white mb-3">
                <div class="card-body">
                    <h5>تعداد کل سفارش‌ها</h5>
                    <p class="fs-4">{{ total_orders }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success text-white mb-3">
                <div class="card-body">
                    <h5>درآمد کل</h5>
                    <p class="fs-4">{{ total_revenue | int }} تومان</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning text-dark mb-3">
                <div class="card-body">
                    <h5>تعداد کاربران</h5>
                    <p class="fs-4">{{ total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-info text-white mb-3">
                <div class="card-body">
                    <h5>تعداد محصولات</h5>
                    <p class="fs-4">{{ total_products }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
